body{
    display:flex;
    justify-content: center;
    height: 1080px;
    width: 1920px;
    flex-wrap: wrap;
    gap: 10px;
    background-color: darkgrey;
}
.lensoptions,
.coatings,
.additional,
.frametype {
    display: flex;
    flex-direction: column;
}

select{
    max-height: 20px;
}