html{
    cursor: url('./extra/TestCursor.png'), auto;
    height: 100%;
}
body{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 1920px;
    flex-wrap: wrap;
    gap: 25px;
    background-color: darkgrey;
    font-size: 30px;
}
#toppart{

    display: flex;
    gap: 15px;
    margin-top: 20px;
}
#bottompart{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.lensoptions,
.coatings,
.additional,
.frametype {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

select{
    max-height: 40px;
    cursor: url('./extra/TestCursor.png'), auto;
}

#total{
    height: 40px;
    width: 100px;
    margin-left: 70px;
    font-size: 30px;
}
button,
label,
option,
select {
    cursor: url('./extra/TestCursor.png'), auto;
    font-size: 30px;
}